[contenteditable][rows="1"] {
    padding:          0.5rem;
    height:           1.4rem;
    white-space:      nowrap;
    text-overflow:    ellipsis;
    overflow:         hidden;
}
.table-row {
    display:    table;
    margin:     0;
    padding:    0;
}
.table-row[hidden] {
    display:    none;
}
.table-row > * {
    display:           table-cell;
    vertical-align:    top;
}
.no-select {
-webkit-user-select:    none;
   -moz-user-select:    none;
    -ms-user-select:    none;
        user-select:    none;
        cursor:         pointer;
}

:host {
    outline:    none;
}
div[contenteditable][rows="1"] {
    border:           1px  solid;
    padding-left:     2.5rem;
    padding-right:    2.5rem;
    width:            8.2rem;
    position:         relative;
}
div[contenteditable]::before, div[contenteditable]::after {
    position:      absolute;
    top:           0.5rem;
    z-index:       1;
    width:         1.5rem;
    text-align:    center;
}
div[contenteditable]::before {
    content:    "📅";
    left:       0.5rem;
}
div[contenteditable]::after {
    content:    "↓";
    right:      0.5rem;
}

div[contenteditable] + .table-row {
    position:      absolute;
    z-index:       2;
    background:    white;
    box-shadow:    1px 2px 3px gray;
}
.table-row > ul {
    list-style:    none;
    padding:       0 0.5rem 0 0;
}
nav.table-row {
    margin:    auto;
}
main {
    width:    7.5rem;
}
main > span {
    display:           inline-block;
    vertical-align:    middle;
    width:             1.5rem;
}

.table-row > ul > li,  main > span,  nav.table-row > *  {
    padding:        0.5rem;
    text-align:     center;
    line-height:    1.5rem;
    transition:     0.25s;
}
.table-row > ul > li.active,
nav.table-row > span:active,
main > span.active  {
    background:    lightskyblue;
    color:         white;
}
